


/* Css Responsável por tirar a Borda do ScrollPane */
.ScrollPane{
    -fx-background-color: transparent; 
    -fx-border-color: transparent;

}

/* Torna as barras de rolagem invisíveis */
.ScrollPane > .scroll-bar {
    -fx-opacity: 0;
    -fx-pref-width: 0; /* Opcional: Reduz a largura da barra de rolagem vertical */
    -fx-pref-height: 0; /* Opcional: Reduz a altura da barra de rolagem horizontal */
}

/* Ajusta o padding da viewport para evitar espaço adicional */
.ScrollPane > .viewport {
    -fx-padding: 0;
}


/*Container que está dentro do ScrollPane*/

.ContentAnchorPane{
    background-color: #FDFDFE;
}

/* Padronizando a box dos conteúdos*/

.Box_contents{ 
    -fx-border-width: 0 0 0.5 0; /* Define a largura da borda apenas na parte inferior */
    -fx-border-color: #373737; 
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-font-family:'Courier New', Courier, monospace ;
}

/* Tamnho da fonte dos intens (Email, nome, fone) */

.p{
    -fx-font-size: 13px;
}

/* Padrão do tamanho da font da Label*/
.label{
    font-size: 9.5px;
}

.TitleBox{
    -fx-font-family: 'Courier New', Courier, monospace 'Courier New', Courier, monospace;
    -fx-font-size: 25px;
}


/*Opção do tema Escuro*/
.optionDarkTheme{
    -fx-background-radius: 100%;
    -fx-background-color: #373737;
}

.optionClearTheme{
    -fx-background-radius: 100%;
}