/*  Setting menu colors in the dark theme */

/*  Menu background */
.ContainerMenu{
    -fx-background-color: #FDFDFE;
}

.OpcoesMenu{
    -fx-text-fill: #373737;
    
    -fx-border-color: #94568C; 
}

.OpcoesMenu:hover{
    -fx-background-color: #F0EEEB;
}

/* BotaoSair settings - only changed the color before the hover */
.BotaoSair{
    -fx-text-fill: #373737;
    -fx-border-color: #94568C;
}



/*  --  End of menu style  --  */


/*  Changing color */
.contentBlock{
    -fx-background-color: #FDFDFE;
    -fx-border-color: #94568C; 
}